
<div class="row">
 <div class="col-md-3">
    <div class="center">
        <%= image_tag avatar_url(current_user), class: "avatar-full" %>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><%= current_user.first_name %> <%= current_user.last_name %></div>
        <div class="panel-body">
          <ul class="sidebar-list">
            <% if current_user.confirmation_token %>
              <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
            <% if current_user.social_provider %>
               <% if current_user.social_provider == "google_oauth2" %>
                  <li>Google<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
               <% else %>
                  <% if current_user.social_provider == "facebook_oauth2" %>
                    <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
                  <% end %>
              <% end %>
            <% end %>
            <!--
             <% if current_user.social_provider %>
              <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
            -->
            <% if current_user.provider %>
              <li>Payout Account<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
            <% if current_user.phone_verified %>
              <li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <% end %>
          </ul>
        </div>
    </div>

     <!-- Notification -->
    <div class="panel panel-default">
      <div class="panel-heading">Notifications</div>
      <div class="panel-body">
          <%= link_to notifications_path do %>
              You have <span id="num_of_unread"><%= current_user.unread %></span> notification(s).
          <% end %>
      </div>
    </div>
    <!--
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
    </ul>
    -->
    <br>
    <%= link_to "View Profile", "#", class: "btn btn-default wide" %>
  </div>


  <div class="col-md-9 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">Profile</div>  
      <div class="panel-body">
        <div class="container">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <%= render 'shared/devisemes' %>
            <!-- <%= f.error_notification %> -->

            <!--
            <h2 class ='text-center'>Edit <%= resource_name.to_s.humanize %></h2>
            -->
  
            <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email' %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :first_name,  label: false, placeholder: 'First Name' %>
            <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
            
            <%= f.input :contact_no, label: false, placeholder: "Phone Number (enter country code, eg +1)" %>
           
             <%= f.text_area :description, rows: 5, required: false, label: false, placeholder: "Describe Yourself", class: "form-control"  %>

             EyeForWonder is built on relationships. Help other people get to know you.

              Tell them about the things you like: What are 5 things you can’t live without? Share your favorite travel destinations, books, movies, shows, music, food.

              Tell them about you: Do you have a life motto?

             <br/>
             <br/>
 
            <%= f.input :password, autocomplete: "off",  required: false, label: false, placeholder: "New Password (leave it blank if you don't want to change it)" %>
          
            <%= f.input :password_confirmation, required: false, label: false, placeholder: 'New Password Confirmation' %>
          

            <% if current_user.profile_pic.present? %>
              <%= image_tag(avatar_url(current_user), class: "img-circle avatar-medium") %>
            <% end %>

 
            <div class="form-group">              
              <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Profile Pic (clear selfie of you)
                  <%= f.file_field :profile_pic  %>
              </span>
            </div> 
           

  
            <%= f.button :submit, "Update", class: 'btn btn-primary btn-block' %>
         

          <% end %>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Your Phone Number</div>
      <div class="panel-body">
        <div class="container">
          <% if !current_user.contact_no.blank? %>
              <h4><%= current_user.contact_no %></h4>

              <button id="updatephone" class="btn btn-primary btn-block" >Update Phone Number</button>
              <% if current_user.phone_verified == false %>
                  <button  id="verify" class="btn btn-primary btn-block" >Verify (Enter Pin #)</button>
              <% end %>
          <% else %>
              <button id="updatephone" class="btn btn-primary btn-block" >Add Phone Number</button>
          <% end %>
        </div>
      </div>
    </div>


  </div>




<!-- MODAL FOR PHONE NUMBER -->

<div id="update-phone" class="modal" role="dialog">

    <div class="modal-content animate">
        <span class="close">&times;</span>   
        <br/> 
      <div class="modal-body">
        <div class="panel panel-default">
              <div class="panel-heading">
              Enter Phone No.
              </div>
           <%= form_for current_user, url: update_phone_number_path(current_user) do |f| %>
              <div class="form-group">
                <%= f.phone_field :contact_no, class: "form-control", placeholder: "Your Phone Number (enter country code, eg +1)" %>
              </div>
              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-normal" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>


  
</div>




<!-- MODAL FOR VERIFICATION -->
<div id="verify-phone" class="modal" role="dialog">

    <div class="modal-content animate">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Verification Code</h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: verify_phone_number_path(current_user), method: :post do |f| %>
            <div class="form-group">
              <%= f.text_field :pin, class: "form-control", placeholder: "Your PIN", value: "" %>
            </div>
            <div class="text-center">
              <%= f.submit "Verify", class: "btn btn-normal" %>
            </div>
        <% end %>
      </div>

    </div>
 
</div>


<script>


var modal  = document.getElementById("update-phone");


var xyz  = document.getElementById("verify-phone");



// Get the button that opens the modal
var btn = document.getElementById("updatephone");

var newbuts = document.getElementById("verify");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
   
    modal.style.display = "block";
}

newbuts.onclick = function() {

    xyz.style.display = "block";
  
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
   
}

if (event.target == modal) {
        modal.style.display = "none";
    }

if (event.target == xyz) {
        modal.style.display = "none";
    }

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        xyz.style.display = "none";
       
    }

}
</script>

</div>


<!--
<h4>Cancel my account</h4>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->
