<% if @host_reviews.count == 0 %>
  <div class="text-center">
    <h4>There are no reviews.</h4>
  </div>
<% else %>

  <% @host_reviews.order(id: :desc).each do |r| %>
    <hr/>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %><br/><br/>
        <strong><%= r.user.first_name %> <%= r.user.last_name %></strong>
      </div>
      <div class="col-md-9">
        <h3><div><%= r.experience.exp_name %></div></h3>
        <div id="star_<%= r.id %>"></div>
        <br/>
        <div><%= r.created_at.to_formatted_s(:long_ordinal)  unless r.created_at.nil? %></div>
        <div><%= r.rating_desc %></div>
       
      </div>
    </div>

    <script>
      $('#star_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.rating  %>
      });
    </script>

  <% end %>
<% end %>