
<div class="panel panel-default">
  <div class="panel-heading">
  When do you want to go?
  </div>
  <div class="panel-body">  

      <% @schedules.each do |schedule| %>  
          <div class="row">      
                <div class="col-md-6">
                   <h4><%=@experience.exp_name %></h4>
                  <% avail_seat = schedule.max_guests - schedule.no_guests %>
                  <strong><%= avail_seat  %> spots left</strong> 
                  <p><%= schedule.start_date.strftime('%A, %v') %>,
                  <%= @experience.go_time.strftime('%r') %></p>
                </div>    
                <div class="col-md-6">
                  <% if current_user %>
                    <% if avail_seat > 0 %>
                      <%= link_to "Choose Date",  bookit_path(sched_id: schedule.id, exp_id: @experience.id), class: "btn btn-primary" %>
                    <% else %>
                      <%= link_to "Choose Date",  bookit_path(sched_id: schedule.id, exp_id: @experience.id), class: "btn btn-primary", disabled: "disabled" %>
                    <% end %>
                  <% else %>
                    
                    <%= link_to "Choose Date", new_user_session_path, class: "btn btn-primary" %>
                  <% end %>
                </div>    
          </div>
          <br/>
          <span><hr class="colorgraph"></span>
      <% end %>
     
  </div>
</div>