
<div class="row">

	<% @avail_seat = @schedule.max_guests - @schedule.no_guests %>

	<div class="col-md-6">
		<div class="text-center" >
			
			<h2> Who else is coming? </h2>
			<br/>
			<span><hr class="colorgraph"></span>
			<div class="row">
				<div class="col-md-6">
					<%= current_user.first_name %> <%= current_user.last_name %>
				</div>
				<div class="col-md-6">
					<%= image_tag(avatar_url(current_user), class: "img-circle avatar-large") %>
				</div>
				
			</div>
			<span><hr class="colorgraph"></span>
			<div class="row">
				<div class="col-md-6">
					Add another guest 
				</div>
				<div class="col-md-6">
					<!--
					 <a href="#" class="btn btn-info btn-lg">
						<i class="fa fa-plus-square-o" aria-hidden="true"></i>
					 </a>
					
					 <a href="#" class="btn btn-info btn-lg">
          				<span class="glyphicon glyphicon-plus-sign"></span>
       				 </a>
       				-->
       				 
       				 <button onclick="addGuest()" id="add-guest" class="text-center btn btn-info btn-lg" type="button">
   						<span class="glyphicon glyphicon-plus-sign"></span>
					</button>
					
				</div>
				
			</div>
			<span><hr class="colorgraph"></span>
			<div class="row" id="remove-guest">
				<div class="col-md-6">
					Remove guest 
				</div>
				<div class="col-md-6">
					 <button onclick="minusGuest()" id="minus-guest" class="text-center btn btn-info btn-lg" type="button" >
   						<span class="glyphicon glyphicon-minus-sign"></span>
					</button>
				</div>
				
			</div>


			
			<div class="row" id="guest-form" >
				<div class="col-md-12">
				 	Enter the following info so we can send guest the itinerary. Make sure to enter their actual email.
					<br/>
					<%= render 'guests/form' %>
				</div>
          
			</div>
			
		</div>
		<% if current_user %> 
			<br/><br/>
			
			<!--
			<div class="text-center">
            	<%= link_to "Next", confirm_path(slug: @schedule.id, exp_id: @experience.id, qty: @qty), class: "btn btn-primary" %>
            </div> 
            -->  
            <br/>
            <br/>

            <div class="progress progress-striped active" id="progress-bar">
          	  <div class="progress-bar progress-bar-info" id="realtime-progress-bar" role="progressbar"style="width: 0%"></div>
          	</div>
            <h3 id="messages"></h3>

            <div class="text-center" >
				<button class="btn btn-primary" id="customButton">Confirm Payment</button>
			</div>



<!--
          	<div class="text-center" >
	            <%= form_tag buy_path(slug: @experience.slug) do %>
	              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"

	                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	                  data-description="<%= @experience.exp_name %>"
	                  data-name= "EyeForWonder"
	                  data-label= "$<%= @experience.exp_price * @qty %> - Confirm Payment"
	                  data-amount="<%= @experience.exp_price * 100 %>"
	                  data-email= "<%= current_user.email %>"
	                  data-locale="auto">
	              </script>
	            <% end %>
       	 	</div>
-->
        <% else %>

        	flash[:notice] = "Please Log in to book this experience"	
            <p><h3><strong>Please Log in to book this experience</h3></strong> </p>

        <% end %>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">				
				<%= @experience.exp_name %>
			</div>
			<div class="panel-body">
				<div class="row" >
					<div class="col-md-6" >
						Hosted by: <%= NameCase(@experience.user.first_name)%> 
					</div>
					<div class="col-md-6" >
						<!--
		             	<%= image_tag(avatar_url(@experience.user), class: "img-circle avatar-large") %>
		             	-->
		             	<%= image_tag(@experience.photos[0].image.url(:thumb)) %>
           			</div>
				</div>
				<span><hr class="colorgraph"></span>
				<div class="row" >
					<div class="col-md-6" >
						<%= @schedule.start_date.strftime('%A, %v') %>
						<br/>
						<%= @experience.go_time.strftime('%r')  %>
					</div>
					<div class="col-md-6" >
						<% duration = (( @experience.exp_duration - @experience.go_time) / 60 ) / 60 %>
						 <%= pluralize(duration, "Hour") %> Duration
		             	
		            </div>	
				</div>
				<span><hr class="colorgraph"></span>
				<div class="row" >
					
					<div class="col-md-6">
					
						

						<span>$<%= @experience.exp_price %> &#215; <label id="qty-cnt"><%= @qty %></label></span>

						<br/><br/>
						Total
					</div>
					<div class="col-md-6" >		             
		             	<% @tot_amt = @experience.exp_price * @qty %>
		             	
		             	$<label id="tot-amt"><%= @tot_amt %></label>
		             	<br/><br/>
		             	<strong>$<label id="final-amt"><%= @tot_amt %></label></strong>
		            </div>	
		           
		            <span><hr class="colorgraph"></span>
				</div>
				<span><hr class="colorgraph"></span>
				<div class="row" >
					
					<div class="col-md-12" >
						<p>Review Guest Requirements</p>
						
						<p><%= @experience.guest_reqs %></p>
					</div>
					
		           
				</div>
				 <span><hr class="colorgraph"></span>
				<div class="row" >
					
					<div class="col-md-12" >
						<p>Cancellation Policy </p>
					
						<p><%= @cancellation.desc %></p>
					</div>
		            <span><hr class="colorgraph"></span>
				</div>
			</div>
		</div>
	</div>


<script>

	document.getElementById("minus-guest").style.display = "none";
	document.getElementById("guest-form").style.display = "none";
	document.getElementById("remove-guest").style.display = "none";

</script>

<%= form_tag buy_path(slug: @experience.slug), id: 'chargeForm' do %>

	<script src="https://checkout.stripe.com/checkout.js"></script>
	 <%= hidden_field_tag 'stripeToken' %>
	  <%= hidden_field_tag 'stripeEmail' %>
	  <%= hidden_field_tag 'qty_booked' %>
	  <%= hidden_field_tag 'sched_id' %>
	<script>
	  var qty = parseInt("<%= @qty %>");
	  var exp_price = parseInt("<%= @experience.exp_price %>");
	  var price  = parseInt("<%= @experience.exp_price * 100 %>");
	  var sched_id = "<%= @schedule.id %>";

	 


	  var handler = StripeCheckout.configure({
	    key: "<%= Rails.configuration.stripe[:publishable_key] %>",
	    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
	    locale: 'auto',
	    token: function(token, args) {
	      // Use the token to create the charge with a server-side script.
	      // You can access the token ID with `token.id`
	        document.getElementById("stripeToken").value = token.id;
	        document.getElementById("stripeEmail").value = token.email;
	        document.getElementById("qty_booked").value = qty;
	        document.getElementById("sched_id").value = sched_id;
	        document.getElementById("chargeForm").submit();
	    }
	  });

	var btn = document.getElementById("customButton");

	$('#customButton').html(function(i, val) { 
   		return "$" + qty * exp_price + " - Confirm Booking";
   	});

	

	// When the user clicks the button, open the modal


	   btn.onclick = function(e) {
	    // Open Checkout with further options
	  
	    alert(qty);
	    alert(sched_id);
	    document.body.style.cursor = 'wait';

	    handler.open({
	      name: "EyeForWonder",
	      description: "<%= @experience.exp_name %>",
	      amount: qty * price,
	      email: "<%= current_user.email %>"
	    });
	    e.preventDefault();
	  };



	  // Close Checkout on page navigation
	  $(window).on('popstate', function() {
	  	document.body.style.cursor = 'default';
	    handler.close();
	  });
	</script>

<% end %>



<script>
// Get the modal

document.getElementById("guest-form").style.display = "none";
//document.getElementById("minus-guest").style.display = "none";
document.body.style.cursor = "default";


var qty = <%= @qty %>;
var totAmt = <%= @tot_amt %>;
var expPrice = <%= @experience.exp_price %>;
var availSpot = <%= @avail_seat %>;
var leftSpot = availSpot;

function addGuest() {


	leftSpot = availSpot - qty;


	if ( qty + 1 > availSpot) {
		alert("There are no more spots left for this event.");
		return;
	}

	

    qty++;

    $('#customButton').html(function(i, val) { 
   		return "$" + qty * expPrice + " - Confirm Booking";
 	});

  
  	$('.exp-Price').data('exp_price');
   
   	

   	$('#qty-cnt').html(function(i, val) { 
   		return qty;
   	});


 	
   	totAmt = expPrice * qty;
  
   	$('#tot-amt').html(function(i, val) { 
   		return totAmt
    });

   
    $('#final-amt').html(function(i, val) { 
   		return totAmt
    });


  

    document.getElementById("guest-form").style.display = "none";
	document.getElementById("minus-guest").style.display = "block";
	document.getElementById("add-guest").style.display = "block";
	document.getElementById("remove-guest").style.display = "block";
    
    $.get("/bookpay?qty=" + qty + "&tot_amt=" + totAmt);


}


function minusGuest() {

	

	qty--;

	if (qty == 1) {
		document.getElementById("minus-guest").style.display = "none";
		document.getElementById("remove-guest").style.display = "none";
	};

    document.getElementById("guest-form").style.display = "none";
//	document.getElementById("minus-guest").style.display = "none";
	document.getElementById("add-guest").style.display = "block";
	
    

	$('#customButton').html(function(i, val) { 
   		return "$" + qty * expPrice + " - Confirm Booking";
 	});

      	

   	$('#qty-cnt').html(function(i, val) { 
   		return qty;
   	});



   	totAmt = expPrice * qty;
  
   	$('#tot-amt').html(function(i, val) { 
   		return totAmt
    });

   
    $('#final-amt').html(function(i, val) { 
   		return totAmt
    });

}
</script>


<script>
 

  $(function() {
   // alert("Entering Pusher JS");
 
     var pusher = new Pusher("ee11638b413352bc6ebd"); 
     var channel = pusher.subscribe("my-channel"); 

     var elem = document.getElementById("realtime-progress-bar");  
     var elem1 = document.getElementById("progress-bar");
     var msg = document.getElementById("messages");

     elem1.style.display = "none"; 
     msg.style.display = "none";
  
    
     channel.bind('payment', function(data) {
      
        var width = data.progress;
        elem1.style.display = "block"; 
        msg.style.display = "block";
       
        

        switch( width ) {
            case 10:
              elem.style.width = 10 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 30:
              elem.style.width = 30 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 60:
              elem.style.width = 60 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 80:
              elem.style.width = 80 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 100:
              elem.style.width = 100 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            default:
                alert("An default event was triggered");

        }

      
    });
   


   });

</script>


	
</div>
