<%= simple_form_for(@experience) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   
    <%= f.input :exp_name, required: true, label: false, placeholder: "Name of Experience" %>
    <%= f.input :exp_desc, required: true, label: false, placeholder: "Description of what you'll do" %>
    <%= f.input :exp_provide %>
    <%= f.input :exp_notes, required: false, label: false, placeholder: "Notes" %>
    <%= f.input :exp_location %>
    <%= f.input :image %>
    <%= f.input :about_me %>
    <%= f.input :guest_reqs %>
    <%= f.input :max_guest %>
    <%= f.input :rsv_guest %>
    <%= f.input :min_guest %>
    <%= f.input :can_policy %>
    <%= f.input :exp_price, required: true, label: false, placeholder: "Price" %>
    <%= f.input :start_time %>
    <%= f.input :duration %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
