<div class="panel panel-default">
  <div class="panel-heading">
    Create an amazing experience
  </div>
  <div class="panel-body">
    <div class="container">


      <%= simple_form_for(@experience, :html => { multipart: true } ) do |f| %>

        <% unless @experience.errors.empty? %>
          <script type="text/javascript">
            <% experience.errors.full_messages.each do |msg| %>
              toastr.error('<%= msg %>')
            <% end %>
          </script>
        <% end %>
         
     
        <div class="row">
          <div class="form-group">
            <label>Experience Name</label>
            <%= f.input :exp_name, null: false, required: true, autofocus: true, label: false, placeholder: "Be creative", class: "form-control" %>
          </div>
        </div>
      
        <div class="row">
          <div class="form-group">
            <label>Description of what we'll do</label>
            <%= f.text_area :exp_desc, rows: 5, null: false,  required: true, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>
     
        <div class="row">
          <div class="form-group">
            <label>Description of what you'll provide</label>
            <%= f.text_area :exp_provide, rows: 5, required: true, placeholder: "Be clear and descriptive. For example, provide snacks, etc.", class: "form-control"  %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Notes</label>
            <%= f.text_area :exp_notes, rows:3, required: false, placeholder: "Put additional information here", class: "form-control" %>
          </div>
        </div>


        <div class=row>
          <div class="form-group">
            <label>Meeting location</label>
            <%= f.text_field :exp_location, rows: 3, required: true, label: false, placeholder: "Meeting location where you will initially meet your guests", class: "form-control",  id: "autoaddress" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Where we'll be</label>
            <%= f.text_field :exp_where_be, rows: 3, required: true, label: false, placeholder: "Where the event will be held (ie exact address of the location)", class: "form-control", id: "exactaddress" %>
          </div>
        </div>

     
        <div class=row>
          <div class="form-group">
            <label>Info about yourself</label>
            <%= f.text_area :about_me, rows: 3, required: true, label: false, placeholder: "Describe why you're qualified to do this experience", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Guest Requirements</label>
             <%= f.text_area :guest_reqs, rows:2, placeholder: "For example, drivers license for ID", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group select">
            <label>Cancellation Policy</label>
            <!--
            <%= f.text_area :can_policy, placeholder: "Describe cancellation policy", class: "form-control" %>
          -->
            <%= f.select :can_policy, [["Any experience or event, canceled within 24 hours of booking, is eligible for a full refund.", 1], ["Any experience or event cancellation that is 30 days or more before the start date, is eligible for a full refund.", 2], ["Cancellations less than 30 days before start date will not be eligible for a refund, unless your spot is booked and completed by another guest.", 3]], prompt: "Select...", class: "form-control", required: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">    
            <div class="form-group">
              <label>Maximum Number of Guests</label>
              <%= f.input :max_guest, label:false, selected: 1,  collection: 1..20, prompt: "Select...", class: "form-control", required: true %>
            </div>     
          </div>
     
          <div class="col-md-6 select"> 
            <div class="form-group"> 
              <label>How much does it cost?</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                  <%= f.text_field :exp_price, placeholder: "eg. $100", required: true, class: "form-control" %>
              </div>  

             
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="form-group">              
              <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                  <%= file_field_tag "images[]", type: :file, multiple: true, required: true %>
              </span>
            </div>    
          </div>
        </div>


        <div id="photos"><%= render 'photos/list' %></div>  


<!--        <%= f.input :start_time, required: true, label: false, id: 'start-date', class: 'form-control' %> -->
        <div class="row">
          <div class="col-md-3">           
                  <label>Date </label>
                 
                  <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>  
                      <% if @experience.start_date.blank? %>
                        <%= f.text_field :start_date,  id: 'start-date', value: Time.now.strftime("%Y-%m-%d"), label: false, class: 'form-control input-sm' %>
                      <% else %>
                        <% @experience.start_date = @experience.start_date.strftime("%Y-%m-%d") %>
                        <%= f.text_field :start_date,  id: 'start-date',  label: false, class: 'form-control input-sm' %>
                      <% end %>
                  </div>
              
           
          </div>

          <div class="col-md-3">           
                  <label>Start Time</label>
                      <% if @experience.go_time.blank? %>  

                                           
                         <%= f.text_field :go_time,  id: 'start-time',  value:  Time.now.to_s(:time), label: false, class: 'form-control timepicker' %>     
                      <% else %>
                    
                    <!--
                       <%= @experience.go_time = @experience.go_time.strftime("%H:%M") %>
                    -->

                         <%= f.text_field :go_time,  id: 'start-time', value: @experience.go_time, label: false, class: 'form-control timepicker' %>   
                      <% end %>     
          </div>



          <div class="col-md-4">                    
                    <label>End Time</label>
                    <% if @experience.exp_duration.blank? %>
                      <%= f.text_field :exp_duration,  id: 'duration',  class: 'form-control timepicker', label: false, placeholder: "(HH:MM)" %>    
                    <% else  %> 
                    
                      <% @experience.exp_duration = @experience.exp_duration.strftime('%H %M') %>
                  
                      <%= f.text_field :exp_duration,  id: 'duration',  class: 'form-control timepicker', label: false, placeholder: "(HH:MM)" %>  
                    <% end %>   
          
          </div>
   
        <!--

        # Convert DateTime to Time
        DateTime.parse('March 3rd 2013 04:05:06 AM').to_time.class # => Time

      -->





<script>
  $(function() {

    $('#start-date').datepicker({
        dateFormat: "yy-mm-dd",
        timeText: "Start Time",
        multidate:true,
        todayHighlight: true,
        minDate: 0,
        showButtonPanel: true
    });

  });
</script>


<script>

$(function() {
    var startTimeTextBox = $('#start-time');
    var endTimeTextBox = $('#duration');
      
   

    $.timepicker.timeRange(
    startTimeTextBox,
    endTimeTextBox,
    { 
    

      minInterval: (1000*60*60), // 1hr
      timeFormat: 'HH:mm',
      dateFormat: 'yy-mm-dd',
      start: {}, // start picker options
      end: {} // end picker options
    }

    );


  });
</script>

     
          
      </div>


      <br/>
       <div class="progress progress-striped active" id="progress-bar">
          <div class="progress-bar progress-bar-info" id="realtime-progress-bar" role="progressbar"style="width: 0%"></div>      
       </div>
         <h2 id="messages"></h2>


      <div class="form-actions">
        <%= f.button :submit, "Create Event",  id: 'submit-btn', class: '"btn btn-primary btn-block' %>
        <!--
        <%= f.button :button, "Save Post".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
       -->
      </div>



    <% end %>

<script>
 

  $(function() {
   // alert("Entering Pusher JS");
 
     var pusher = new Pusher("ee11638b413352bc6ebd"); 
     var channel = pusher.subscribe("my-channel"); 

     var elem = document.getElementById("realtime-progress-bar");  
     var elem1 = document.getElementById("progress-bar");
     var msg = document.getElementById("messages");

     elem1.style.display = "none"; 
     msg.style.display = "none";
  
    
     channel.bind('update', function(data) {
      
        var width = data.progress;
        elem1.style.display = "block"; 
        msg.style.display = "block";
       
        

        switch( width ) {
            case 10:
              elem.style.width = 10 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 30:
              elem.style.width = 30 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 60:
              elem.style.width = 60 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 80:
              elem.style.width = 80 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            case 100:
              elem.style.width = 100 + '%';
              elem.innerHTML = width * 1  + '%';
              $("#messages").html(function(i, val) { 
                  return data.message;
              });
              break;
            default:
                alert("An default event was triggered");

        }

      
    });
   


   });

</script>

<script>
  $(function() {
    $("#autoaddress").geocomplete();
  })
</script>

<script>
  $(function() {
    $("#exactaddress").geocomplete();
  })
</script>

<script>
// Get the submit button

var sub = document.getElementById("submit-btn");

// When the user clicks the button, change cursor to wait
sub.onclick = function() {
  
  document.body.style.cursor = 'wait';
 
//  alert("inside the load click");
//  $("#progressMessageLbl").html("Loading....");
//  $("#progressMessage").show();
}

</script>  



  </div>
  </div>
</div>