<div class="panel panel-default">
  <div class="panel-heading">
    Create an amazing experience
  </div>
  <div class="panel-body">
    <div class="container">


      <%= simple_form_for(@experience, :html => { multipart: true } ) do |f| %>

        <% unless @experience.errors.empty? %>
          <script type="text/javascript">
            <% experience.errors.full_messages.each do |msg| %>
              toastr.error('<%= msg %>')
            <% end %>
          </script>
        <% end %>
         
     
        <div class="row">
          <div class="form-group">
            <label>Experience Name</label>
            <%= f.input :exp_name, null: false, required: true, autofocus: true, label: false, placeholder: "Be creative", class: "form-control" %>
          </div>
        </div>
      
        <div class="row">
          <div class="form-group">
            <label>Description of what we'll do</label>
            <%= f.text_area :exp_desc, rows: 5, null: false,  required: true, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>
     
        <div class="row">
          <div class="form-group">
            <label>Description of what you'll provide</label>
            <%= f.text_area :exp_provide, rows: 5, required: true, placeholder: "Be clear and descriptive. For example, provide snacks, etc.", class: "form-control"  %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Notes</label>
            <%= f.text_area :exp_notes, rows:3, required: false, placeholder: "Put additional information here", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Where we'll be</label>
            <%= f.text_area :exp_where_be, rows: 3, required: true, label: false, placeholder: "Where the event will be held", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Meeting location</label>
            <%= f.text_area :exp_location, rows: 3, required: true, label: false, placeholder: "Meeting location where you will initially meet your guests", class: "form-control" %>
          </div>
        </div>

     
        <div class=row>
          <div class="form-group">
            <label>Info about yourself</label>
            <%= f.text_area :about_me, rows: 3, required: true, label: false, placeholder: "Describe why you're qualified to do this experience", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Guest Requirements</label>
             <%= f.text_area :guest_reqs, rows:2, placeholder: "For example, drivers license for ID", class: "form-control" %>
          </div>
        </div>

        <div class=row>
          <div class="form-group">
            <label>Cancellation Policy</label>
            <%= f.text_area :can_policy, placeholder: "Describe cancellation policy", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">    
            <div class="form-group">
              <label>Maximum Number of Guests</label>
              <%= f.input :max_guest, label:false, selected: 1,  collection: 1..20, prompt: "Select...", class: "form-control", required: true %>
            </div>     
          </div>
     
          <div class="col-md-6 select"> 
            <div class="form-group"> 
              <label>How much does it cost?</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                  <%= f.text_field :exp_price, placeholder: "eg. $100", required: true, class: "form-control" %>
              </div>  

             
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <div class="form-group">              
              <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                  <%= file_field_tag "images[]", type: :file, multiple: true, required: true %>
              </span>
            </div>    
          </div>
        </div>


        <div id="photos"><%= render 'photos/list' %></div>  


<!--        <%= f.input :start_time, required: true, label: false, id: 'start-date', class: 'form-control' %> -->
        <div class="row">
          <div class="col-md-3">           
                  <label>Date </label>
                  <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                       </span>      
                      <%= f.text_field :start_date,  id: 'start-date', label: false, class: 'form-control input-sm' %>
                   </div>
           
          </div>

          <div class="col-md-3">           
                  <label>Start Time</label>
                  
                         
                      <%= f.input :go_time,  id: 'start-time', label: false, class: 'form-control', type: 'time' %>
                  
           
          </div>
       
       
<script>
  $(function() {

    $('#start-date').datepicker({
        dateFormat: 'M d, yy',
        todayHighlight: true,
       timeFormat: 'hh:mm tt'
    });

  });
</script>


<script>
  $(function() {

    $('#start-time').timepicker({
       timeFormat: 'hh:mm'
    });

  });
</script>
     
          <div class="col-md-4">    
       
               
                    <label>How Long?</label>
                    <%= f.input :exp_duration,  id: 'duration', class: 'form-control', label: false, type: 'time' %>          
          
          </div>
      </div>



      <br/>
      <div class="form-actions">
        <%= f.button :submit, class: '"btn btn-primary btn-block' %>
      </div>

 

    <% end %>
  </div>
  </div>
</div>
