


<div class = 'row' >

   <div class = 'col-md-6'>
    <h1>
       <strong>  <%= @experience.exp_name %></strong>
    </h1>
    <p><strong>$<%= @experience.exp_price %></strong></p>
    <h3><strong>What we'll do</strong></h3>
    	<p><%= @experience.exp_desc %></p>
    <h3><strong>What I'll provide</strong></h3>
    	<p><%= @experience.exp_provide %></p>
  </div>

  <div class = 'col-md-6'>
    <%= image_tag "surfer.png", class: 'img-responsive' %>
  </div>

 

</div>







<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
