<p id="notice"><%= notice %></p>

<p>
  <strong>Exp email:</strong>
  <%= @experience.exp_email %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @experience.exp_id %>
</p>

<p>
  <strong>Exp name:</strong>
  <%= @experience.exp_name %>
</p>

<p>
  <strong>Exp desc:</strong>
  <%= @experience.exp_desc %>
</p>

<p>
  <strong>Exp provide:</strong>
  <%= @experience.exp_provide %>
</p>

<p>
  <strong>Exp notes:</strong>
  <%= @experience.exp_notes %>
</p>

<p>
  <strong>Exp location:</strong>
  <%= @experience.exp_location %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @experience.image_file_name %>
</p>

<p>
  <strong>About me:</strong>
  <%= @experience.about_me %>
</p>

<p>
  <strong>Guest reqs:</strong>
  <%= @experience.guest_reqs %>
</p>

<p>
  <strong>Max guest:</strong>
  <%= @experience.max_guest %>
</p>

<p>
  <strong>Rsv guest:</strong>
  <%= @experience.rsv_guest %>
</p>

<p>
  <strong>Min guest:</strong>
  <%= @experience.min_guest %>
</p>

<p>
  <strong>Can policy:</strong>
  <%= @experience.can_policy %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @experience.ratings %>
</p>

<p>
  <strong>Exp price:</strong>
  <%= @experience.exp_price %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @experience.integer %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @experience.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @experience.duration %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
