<% if @experience.photos.length > 0  %>
  
    <div class = 'row' >

   
          <div class='col-xs-4 leftcol fixed'>          
            <!-- Create Carousel -->
            <div class="row">
              <div class="col-md-12 col-md-offset-1">
                 <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  
                  <% if @photos %>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <% @photos.each do |photo| %>               
                        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
                      <% end %> 
                    </ol>       
                  <% end %>    

                  <div class="carousel-inner" role="listbox">
                    <% if @photos %>        
                      <% @photos.each do |photo| %>

                        <div class="item <%= 'active' if photo.id == @photos[0].id %>">          
                          <%= image_tag photo.image.url, width: "400", height: "500", class: "mydisplay img-rounded d-block img-fluid img-responsive" %>
                          
                        </div>
                      <% end %> 
                    <% end %>
                  </div>

                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                 </div>
            
                 <br/>
                 <div class="text-center" >         
                    <strong>$<%= @experience.exp_price %></strong> per person
                    <br/>
                    <span id="average_rating_<%= @experience.id %>"></span>
                    <% if @experience.reviews.count == 0 %>
                       No Reviews
                    <% else %>
                      <%= @experience.reviews.count > 1 ? "Reviews " : "Review " %> 
                       (<%= @experience.reviews.count %> )   
                    <% end %>   

                     <!-- Reviews per user-->
                     <!--  render 'experiences/reviews' -->
                               
                    <br/><br/>
                    <!--
                     <a href="#"><%= NameCase(@experience.user.first_name) %> <%= NameCase(@experience.user.last_name)   %></a>
                    -->
                    <% if current_user %>
                         <p><span> Hosted by: 
                        <%= link_to host_path(id: @experience.user_id)  do %>
                          <%= NameCase(@experience.user.first_name)%> <%= NameCase(@experience.user.last_name)    %>
                        <% end %>

                    &nbsp;
               

                        <%= link_to image_tag(avatar_url(@experience.user), class: " img-circle avatar-medium" ), host_path(id: @experience.user_id) %>
                
                        <br/>

                        <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @experience.user.id),  data: { turbolinks: false }, :method => :post do %>
                          <i class="glyphicon glyphicon-envelope"></i></p>
                        <% end %>

                 

                        <br/>
                        <button id="myBtn" class="btn btn-primary text-center" >See Dates</button>

                   <% else %>
                        <!-- Redirect them to either Login or Sign up -->

                        <p><span> Hosted by: 
                        <%= link_to new_user_session_path  do %>
                          <%= NameCase(@experience.user.first_name)%> <%= NameCase(@experience.user.last_name)    %>
                        <% end %>

                        &nbsp;
               
                        <%= link_to image_tag(avatar_url(@experience.user), class: "img-circle avatar-medium" ), new_user_session_path %>
                
                        <br/>

                        <%= link_to new_user_session_path do %>
                          <i class="glyphicon glyphicon-envelope"></i></p>
                        <% end %>

                 

                        <br/>
                        <button id="myBtn" class="btn btn-info text-center" >See Dates</button>
                        <br/>
         
                        <br/><p><h2><strong>Please Log in to book this experience</h2></strong> </p>

                  <% end %>

                 </div> <!-- Text Center -->
              </div> <!-- cold-md-12 -->
            
            </div>
         </div>
         <div class='col-xs-7'>
        
            <div class="panel panel-default">
           
              <div class="panel-heading"><h2><%= @experience.exp_name %></h2></div>
               <div class="panel-body">
                  
                 
              
                      <div> <h3><strong>What we'll do</strong></h3></div>
                      <div class="center" ><p><%= @experience.exp_desc %></p> </div>
                 
                      <br/>
                      <div class="center"><h3><strong>What I'll provide</strong></h3></div>
                      <div class="center"> <p><%= @experience.exp_provide %></p></div>
         
                      <br/>
                      <div class="center" ><h3><strong>Notes</strong></h3></div>
                      <div class="center" ><p><%= @experience.exp_notes %></p> </div>
         
                      <br/>
                      <div class="center" ><h3><strong>Where we'll be</strong></h3></div>
                      <div class="center" ><p><%= @experience.exp_location %></p> </div>
           
                      <br/>
          
                  <!--      
                  <div id="map">
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=700x400&sensor=false&zoom=16&markers=color:purple|label:S|#{@experience.exp_where_be}&key=AIzaSyDJdjhDvDJoxvVdEVz3Nn8Ia_uas00M34Q", class: 'img-fluid img-rounded' %> 

                  </div>
                  -->
                  
                  <br/> <br/>
                  <div id="map">

                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=700x400&sensor=false&zoom=16&markers=color:purple|label:S|#{@experience.latitude},#{@experience.longitude}&key=AIzaSyDJdjhDvDJoxvVdEVz3Nn8Ia_uas00M34Q", class: 'img-fluid img-rounded' %> 
                  </div>

                  <span><hr class="colorgraph"></span>

                  <div class="center" >
                    <h4>
                     <strong> About your host, </strong><%= @experience.user.first_name %>

                    

                       <%= link_to image_tag(avatar_url(@experience.user), class: "img-circle avatar-large" ), host_path(id: @experience.user_id) %>
                      
                      <!--
                     <% if @experience.user.profile_pic.present? %>
                        <%= image_tag(avatar_url(@experience.user), class: "img-circle avatar-large") %>                      
                     <% end %>
                     -->

                    </h4></div>
                  <div class="center" ><p><%=  @experience.about_me %></p> </div>

                  <span><hr class="colorgraph"></span>

                  <!-- Show available dates for this experience -->
                  <%= render 'schedules/show' %>
                  

                  <!-- Reviews -->
                  <%= render 'experiences/reviews' %>



                  <% if current_user %> 

                   <!-- 
                    <%= form_tag buy_path(slug: @experience.slug) do %>
                      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"

                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="<%= @experience.exp_name %>"
                          data-name= "ZenZen"
                          data-amount="<%= @experience.exp_price * 100 %>"
                          data-email= "<%= current_user.email %>"
                          data-locale="auto">
                      </script>
                     <% end %>
                    -->

                    <% else %>

                      <p><h2><strong>Please Log in to book this experience</h2></strong> </p>

                  <% end %>
           
               
               </div> <!-- panel-body -->
            </div> <!-- end of panel default -->
                   
         </div>
         
 

  

   </div> <!-- outer row -->


<% else %>

  <h2> NO PHOTOS </h2>
  

  <%= render 'form', notice: "Upload your photos for this experience now." %>

<% end %>

<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @experience.average_rating %>
  });
</script>


<!-- Modal Dates-->

  <div id="myModal" class="modal" role="dialog">
     <!-- Modal content -->
    <div class="modal-content animate"> 
          <span class="close">&times;</span>   
        <br/>
        <div class="modal-body">
           <!-- Show available dates for this experience -->
          <%= render 'schedules/show' %>

          <!--
          <div class="panel panel-default">
              <div class="panel-heading">
              When do you want to go?
              </div>
              <div class="panel-body">    
                  <div class="row">      
                    <div class="col-md-6">
                      <strong><%= @avail_seat %> spots left</strong> 
                      
                      <h4><%=@experience.exp_name %></h4>
                      <%= @experience.go_time.strftime('%r') %>
                    </div>    
                    <div class="col-md-6">
                      <%= link_to "Choose Date", "#", class: "btn btn-primary" %>
                    </div>    
                  </div>
                   <span><hr class="colorgraph"></span>
              </div>
          </div>
          -->

        </div>
    </div>
  </div>

<script>
$('.carousel').carousel({ interval: 3000 });
</script>

<script>
$('#average_rating_<%= @experience.id %>').raty({
    path: '/assets',
    readOnly: true,
    targetKeep: false,
    score: <%= @experience.reviews.average(:rating) %>
  });
</script>


<script>
// Get the modal

var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

var agreebtn = document.getElementById("cancelbtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

agreebtn.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }

}
</script>

