<div class="row">
   <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Manage Your Events as a Host", index_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Your Upcoming Activities", event_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Payout Preferences", payoffs_path, class: "sidebar-link" %></li>
          <li class="sidebar-item"><%= link_to "Notification Settings", notification_settings_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Transaction History", history_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "Revenues", revenues_path, class: "sidebar-link active" %></li>
      </ul>
  </div>  
  <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">This Week's Revenue</div>
        <div class="panel-body">
          <div class="container text-center">
            <% if @sales.blank? %>
                <h3>You don't have any events</h3><br/>
                <%= link_to "BECOME A HOST TO EARN INCOME",  new_experience_path, class: "btn btn-primary" %>
            <% else %>
                <%= column_chart @this_week_revenue, colors: ["#00A699"] %>
            <% end %>
          </div>
        </div>
      </div>
  </div>

</div>
