<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @review.user_email %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @review.exp_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Rating desc:</strong>
  <%= @review.rating_desc %>
</p>

<p>
  <strong>Review date:</strong>
  <%= @review.review_date %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
