<div id="wrap">
<nav class="navbar  navbar-fixed-top  navbar-inverse bg-inverse" role = "navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--
      <%= link_to '<i class="改善fa fa-circle-o-notch"></i>Kaizen'.html_safe, root_path, class:'navbar-brand'  %>
      -->
       <%= link_to 'EyeForWonder'.html_safe, root_path, class:'navbar-brand'  %>
      <!-- Global Search -->
      <%= form_tag(search_path, method: 'get', class: 'navbar-form navbar-left') do %>
      <!-- class: "form-control" -->
        
        <%= text_field_tag :search, params[:search], placeholder: "Where are you going?  ", class: "form-control" %> 
     
         <button class="close-icon" type="reset"></button>
         <!--
         <%= button_tag "", class: "close-icon", type: :reset %>
          -->
      
        <%= submit_tag "Search", class: 'btn btn-primary' %>
        
      <% end %>

 

    </div>

 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">
      
          <% if current_user %>
            <li><%= link_to 'Create Activity', new_experience_path %></li>
            <li><%= link_to 'Messages', conversations_path %></li>
            <li><%= link_to 'Dashboard', index_path %></li>
<!-- root_path -->

            <li>
              <%= link_to notifications_path do %>
                <i class="fa fa-bell fa-1x icon-babu"></i>
                <span class="badge" id="navbar_num_of_unread"><%= current_user.unread if current_user.unread > 0 %></span>
              <% end %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                
               
                <%= image_tag avatar_url(current_user), width: 25, class: "img-circle avatar-small" %>&nbsp;
               
                <%= current_user.first_name %> <span class="caret"></span>
              </a>       
              <ul class="dropdown-menu">          
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Dashboard", index_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Events", root_path %></li>
                <!--
                <li><a href="#">Experiences</a></li>
                 -->
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </li>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <% else %>
            <li><%= link_to 'Host an Event', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to '<i class="glyphicon glyphicon-user"></i>Login'.html_safe, new_user_session_path %></li>
          <% end %>


      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
</div>
<br/>

<script>
   $(function() {
    $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });
</script>