<!DOCTYPE html>
<html>
  <head>
    <title>Travel with Mojo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  	<%= render 'layouts/navbar' %>

  	<div class = 'container' >
    	<%= yield %>

         <%= render 'layouts/footer'%>
        <div class="text-center">
          <a href="http://www.bootply.com"><i class="icon-facebook icon-3x"></i> </a> &nbsp; 
          <a href="http://twitter.com/bootply"><i class="icon-twitter icon-3x"></i></a> &nbsp; 
          <a href="http://pinterest.com/in1"><i class="icon-pinterest icon-3x"></i></a>
        </div>    
     

    </div>
    
  </body>
</html>
